nav{
    background-color: rgb(234, 82, 211);
    color: white; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0px;
}

nav a{
    text-decoration: none; 
    color: white;
    margin: 15px;
    font-size: 20px;
}

nav a:hover{
    text-decoration: underline;
}

.logo img{
    vertical-align: middle;
    max-width: 70px;
    height: auto;
}

nav .logo:hover{
    text-decoration: none;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    width: 100%;
    margin: 0px;
}

footer{
    background-color: rgb(52, 51, 51); 
    color: white; 
    padding: 15px auto; 
    text-align: center; 
    max-width: 100%;
}
footer a{
    text-decoration: none; 
    color: white;
    margin: 15px;
    font-size: 20px;
}

footer a:hover{
    text-decoration: underline;
}


/* slideshow styles */
.slideshow-container{
    display: flex;
    align-items: center;
    margin: 100px;
    text-align: left;
    height: auto;
    background-color: pink;
    border-radius: 20px;
    height: 800px;
}

.slideshow-container-item{
    display: flex;    
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 800px;
}

#image{
    padding-left: auto;
    max-width: 500px;
    max-height: auto;  
    display: flex; 
}

.centered-text-onImg h1{
    font-size: 40px;
}

h1{
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    padding: auto;
    border-radius: 10px;
    background-color: pink;
}

.slideshow-container h2{
    margin: 0px;
    font-size: 30px;
    color: black;
    display: flex; 
}

.contact-button{
    margin-top: 35px;
    background-color: rgb(234, 82, 211);
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.contact-button:hover{
    background-color: rgb(167, 57, 151);

}

/* about.html styles*/
.about-us-container{
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: auto;
    border-radius: 10px;
}

.about-us-3-boxes{
    display: flex;
    justify-content: space-between;
}

.about-us-box{
    background-color: white;
    flex: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.about-us-img{
    max-width: auto;
    max-height: 110px;
}

.about-us-box:hover{
    background-color: rgb(234, 82, 211);
}


/* mision.html styles*/
.mission-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: auto;
    border-radius: 10px;
}


.mission-items{
    background-color: white;
    flex: 100%;
    padding: auto;
    border-radius: 5px;
    text-align: center;
}

.mission-img{
    max-width: 100%;
    max-height: 300px;
} 

/* products.html styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; 
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 10px; 
}


table img {
    max-width: 33%; 
    height: auto;
    object-fit: cover;
} 


.dropdown {
    display: none;
}

@media (max-width: 920px){

    body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        width: 100%;
        margin: 0px;
    }
    nav{
        height: auto;
    }

    nav ul a{
        font-size: 15px; 
    }

    .logo img{
        vertical-align: middle;
        max-width: 25px;
        height: auto;
    }   
    .slideshow-container{
    height: 340px;
    }

.slideshow-container-item{
    height: 340px;
    }
}

@media (max-width: 750px){
    body{
        font-size: 18px;
    }
    nav {
        display: none;
    }
    .dropbtn {
        background-color: rgb(234, 82, 211);
        color: white;
        padding: 10px;
        font-size: 22px;
        border: none;
        cursor: pointer;
        height: 60px;
        z-index: 1000;
        position: fixed;
        width: 100%;
        top: 0px;
        text-align: left;
        display: flex;
      }
      /* Dropdown button on hover & focus */
      .dropbtn:hover, .dropbtn:focus {
        background-color: rgb(167, 57, 151);
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd;}
      
      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}
    
     .slideshow-container {
         margin: 70px 20px 20px 20px;
         height: 266px;
    }

    .slideshow-container-item{
    height: 266px;
    }
   
    .about-us-3-boxes{
    display: flex;
    justify-content: center;
    width: 75%;
    flex-direction: column;
    }

.about-us-box{
    flex: 75%;
    padding: 10px;
}
}

@media (max-width: 580px){
    body{
        font-size: 15px;
    }
     .slideshow-container{
    height: 202px;
    }

    .slideshow-container-item{
    height: 202px;
    }
}
