nav{
    background-color: rgb(234, 82, 211);
    color: white; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0px;
}

nav a{
    text-decoration: none; 
    color: white;
    margin: 15px;
    font-size: 20px;
}

nav a:hover{
    text-decoration: underline;
}

.logo img{
    vertical-align: middle;
    max-width: 70px;
    height: auto;
}

nav .logo:hover{
    text-decoration: none;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    width: 100%;
    margin: 0px;
}

footer{
    background-color: rgb(52, 51, 51); 
    color: white; 
    padding: 20px; 
    text-align: center; 
    max-width: 100%;
}


/* slideshow styles */
@media (max-width: 920px){
.slideshow-container{
    display: flex;
    align-items: center;
    margin: 100px;
    text-align: left;
    height: 700px;
    background-color: pink;
    border-radius: 20px;

}

.slideshow-container-item{
    display: flex;    
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

#image{
    padding-left: 100px;
    max-width: 500px;
    max-height: 650px;    
}

.centered-text-onImg h1{
    font-size: 40px;
}

h1{
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    
}

.slideshow-container h2{
    margin: 0px;
    font-size: 30px;
    color: lightslategray;
}

.contact-button{
    margin-top: 35px;
    background-color: #942def;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.contact-button:hover{
    background-color: #6d00cd;

}
}

/* about.html styles*/
@media (max-width: 920px){
.about-us-container{
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

.about-us-3-boxes{
    display: flex;
    justify-content: space-between;
}

.about-us-box{
    background-color: white;
    flex: 100%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.about-us-img{
    max-width: 50%;
    max-height: 100px;
}

.about-us-box:hover{
    background-color: rgb(234, 82, 211);
}
}


/* mision.html styles*/
@media (max-width: 920px){
.mission-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 10px;
}


.mission-items{
    background-color: white;
    flex: 100%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.mission-img{
    max-width: 100%;
    max-height: 300px;
}
} 

/* products.html styles */
@media (max-width: 920px){
.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td{
    padding: 20px;
    text-align: center;
}

table img{
    max-width: 200px;
    height: auto;
    object-fit: cover;
}
}


@media (max-width: 920px){

    body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        width: 100%;
        margin: 0px;
    }

    nav{
        height: 30px;
    }

    nav ul a{
        font-size: 15px; 
    }

    .logo img{
        vertical-align: middle;
        max-width: 25px;
        height: auto;
    }

    
}

@media (max-width: 750px){
    body{
        font-size: 18px;
    }

    nav ul a{
        font-size: 12px; 
        margin: 8px;
    }

    .logo img{
        vertical-align: middle;
        max-width: 25px;
        height: auto;
    }
}

@media (max-width: 580px){

    body{
        font-size: 12px;
    }

    nav ul a{
        font-size: 10px; 
        margin: 8px;
    }

    .logo img{
        vertical-align: middle;
        max-width: 25px;
        height: auto;
    }
}
